@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: linear-gradient(120deg, rgb(0, 108, 250) 0%, rgb(64, 145, 252) 100%);
    color: white;
    font-family: 'Roboto', sans-serif;
}
